@import 'utils/_vars';
@import 'utils/_mixins';
@import 'utils/_fonts';
@import 'utils/_media';
@import 'base';
@import 'header';

.cart {
  display: flex;
  border-radius: 30px;
  background-color: $mainColor;
  color: #fff;
  padding: 12px 23px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 142px;

  .amount {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    padding-right: 13px;
  }

  .count {
    display: flex;
    padding-left: 13px;
    align-items: center;

    img {
      height: 16px;
      padding-right: 8px;
    }
  }
}

main {
  padding: 40px 65px;

  @media (max-width: 750px) {
    padding: 40px 21px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;

  @media (max-width: 960px) {
    flex-direction: column;

    .sort {
      margin-top: 40px;
      justify-content: center;
    }

    .filters {
      top: 25px;
    }
  }
}

.types {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;

  li {
    border-radius: 30px;
    background-color: #f9f9f9;
    line-height: 19px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
    padding: 0 30px;
    cursor: pointer;
  }

  .active {
    background-color: #282828;
    color: #ffffff;
  }
}

.sort {
  display: flex;
  font-size: 14px;

  img {
    width: 10px;
    margin-right: 7px;
  }

  .text {
    display: flex;
    align-items: center;
    position: relative;

    span {
      color: $mainColor;
      text-decoration-style: dashed;
      text-decoration-line: underline;
      text-decoration-color: $mainColor;
      cursor: pointer;
    }
  }
}

.filters {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  padding: 7px 0;
  font-weight: 400;
  letter-spacing: 0.5px;
  z-index: 2;

  p {
    display: flex;
    flex-direction: column;
    min-width: 126px;
    padding: 10px 25px 10px 12px;

    &:hover {
      cursor: pointer;
      background-color: rgba($mainColor, 0.05);
      font-weight: 700;
      color: $mainColor;
    }
  }
}

section {
  width: 100%;

  .title {
    font-size: 40px;
  }
}

.pizzas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 27px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  margin-top: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  width: 260px;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  img {
    margin: auto;
    display: block;
    width: 100%;
  }

  .name {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 22px;
  }

  .filtres {
    background-color: #f3f3f3;
    border-radius: 10px;
    font-size: 14px;
    color: #2c2c2c;
    padding: 7px;
    margin-bottom: 17px;

    .dough,
    .size {
      display: flex;
      justify-content: space-between;
      text-align: center;

      .active {
        background-color: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
      }
    }

    .dough p {
      margin-bottom: 7px;
    }

    p {
      width: 100%;
      padding: 7px 0;
      cursor: pointer;
    }
  }
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .price {
    font-size: 22px;
  }

  button.add {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $borderColor;

    background-color: #fff;
    border: 1px solid $borderColor;
    border-radius: 30px;

    font-weight: 700;
    font-size: $mainFontSize;

    padding: 7px 17px;
    cursor: pointer;

    p:first-child {
      font-size: 25px;
      margin-right: 8px;
    }

    .counter {
      background-color: $borderColor;
      border-radius: 50%;
      color: #ffffff;
      padding: 4px;
      margin-left: 8px;
      height: 22px;
      width: 22px;
      font-size: 13px;
    }

    &:hover {
      background-color: $borderColor;
      color: #ffffff;

      .counter {
        color: $borderColor;
        background-color: #fff;
      }
    }
  }
}
